<li class="<%=  self_or_other(message) %>">
  <div class="avatar">
    <%#= image_tag '#{@user[#{@message.user_id}].imgURL}' %>
  </div>
  <div class="chatboxmessagecontent">
    <p><%= message.body %></p>

    <time datetime="<%= message.created_at %>" title="<%= message.created_at.strftime("%d %b  %Y at %I:%M%p") %>">
    </time>
    <%= message_interlocutor(message).name %> • <%= message.created_at.strftime("%H:%M %p") %>
    </div>
</li>