<%= render 'partials/header' %>


<div class="row welcome">
    <div class="row">
     <div class="col-xs-4 col-xs-offset-4 col-md-4 col-md-offset-4 logo"> TYPE |</div>
    </div>
    <div class="row">
      <div class="col-xs-4 col-xs-offset-4 col-md-4 col-md-offset-4"><button class='btn login' id="login">Log in</button></div>
    </div>
   <div class="row">
    <div class="col-xs-4 col-xs-offset-4 col-md-4 col-md-offset-4"><button class="btn signup" id="signup">Get Started</button></div>
  </div>
</div>

<%= render 'partials/profile' %>
<%= render 'partials/signupdetails' %>
<%= render 'partials/signup_modal' %>
<%= render 'partials/login_modal' %>
<%= render 'partials/selector' %>
<%= render 'partials/foundusers' %>

