
<%= render 'partials/header' %>
<%= render 'partials/profile' %>


<% @users.each do |user| %>
  <div class="col-xs-6 col-sm-4 col-md-3 eachuser">
    <div class="row">
      <div class="col-xs-12">
        <img class="user_pic" src="<%= user.imgURL %>">
      </div>
      <div class="col-xs-12 eachprofile">
        <li class="name"><%= user.name %></li>
        <div class="col-xs-4">
          <img class="user_pic" src="number/number-<%= user.numerology.name %>.svg">
          <li class="capitalise">Number <%= user.numerology.name %></li>
        </div>
        <div class="col-xs-4">
          <img class="user_pic" src="horo/<%= user.horoscope.name %>.svg">
          <li class="capitalise"><%= user.horoscope.name %></li>
        </div>
        <div class="col-xs-4">
          <img class="user_pic" src="mbti/<%= user.mbti.name %>.png">
          <li class="capitalise"><%= user.mbti.name %></li>
        </div>
        <button class="btn btn-success message start-conversation" data-sid="<%= current_user.id %>" data-rip="<%= user.id%>">message</button>
      </div>
    </div>
  </div>
<% end %>
